<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>419283900935-26l3160cvd28bdai3uek1lnnpgc3qpq6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.419283900935-26l3160cvd28bdai3uek1lnnpgc3qpq6</string>
	<key>API_KEY</key>
	<string>AIzaSyD9woWEJEbq1N_2XyXLScTQOWQf4dwtEqQ</string>
	<key>GCM_SENDER_ID</key>
	<string>419283900935</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vn.finhay.dev</string>
	<key>PROJECT_ID</key>
	<string>ocb-test</string>
	<key>STORAGE_BUCKET</key>
	<string>ocb-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<false/>
	<key>GOOGLE_APP_ID</key>
	<string>1:419283900935:ios:93b348cd2699a0a9</string>
	<key>DATABASE_URL</key>
	<string>https://ocb-test.firebaseio.com</string>
</dict>
</plist>
